/*
body {
  font-size: 100%; 
  margin: 2em 4em 2em 4em; 
  font-family: Trebuchet MS, Helvetica, Arial, sans serif;
}
*/
h1 {
        margin-top: 2px;
        font-weight: normal;
      }
      h4 {
        margin: 4px
        padding: 4px
      }
      div.line {
        margin: 0em;
        padding: 0em;
      } 
      div.indentedLine {
        margin: 0em 0em 0em 2em;
        padding: 0em;
      }
      div.problem {
        border: 1px solid black;
        width: 560px;
        background-color: #ffffcc;
        padding: 5px;
      }
      table.index {
	    border: 0px solid red;
      }
      table.index td {
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
      }
      table.index th {
        font-size: 120%;
        padding-top: 10px;
        text-align: left;
        border-bottom: 1px solid #cccccc;
      }
	  
	  table.rightmenu {
	    border: 0px solid red;
      }  
	  table.rightmenu th {
        font-size: 120%;
        padding-top: 10px;
        text-align: center;
        border-bottom: 1px solid #cccccc;
      }
	  
	  table.rightmenu th.noborder {
        font-size: 120%;
        padding-top: 10px;
        text-align: center;
        border-bottom: 0px solid #cccccc;
      }
	  
	  table.rightmenu td {
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
		text-align: center;
      }
	  
	  table.rightmenu td.noborder {
        border-bottom: 0px solid #cccccc;
        border-left: 0px solid #cccccc;
        border-right: 1px solid #cccccc;
		text-align: center;
      }