@(solutions: List[Solution], id:String)(implicit lang: Lang)

@main("40.AMO, 5.klases 1.uzdevums") {

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript">//this function gets called when the player is ready    
      function onYouTubePlayerReady (playerId) {
        ytplayer = document.getElementById("myytplayer");
        console.log(ytplayer);
      }
      //generic seekTo function taking a player element and seconds as parameters    
      function playerSeekTo(player, seconds) {
        player.seekTo(seconds);
      }</script>
    <script type="text/javascript">      var ytplayer;  
      $(document).ready(function() {
        swfobject.embedSWF("//www.youtube.com/e/UNyM7DyFDug?enablejsapi=1&playerapiid=ytplayer &version=3",
        "ytapiplayer", // where the embedded player ends up
        "560", // width    
        "315", // height    
        "8", // swf version    
        null,
        null, {
            allowScriptAccess: "always"
        }, {
            id: "myytplayer"
        });   
      });</script>


    <div class="problem">Cik reizes diennaktī sakrīt pulksteņa stundu un minūšu rādītāji? (Plkst. 00:00 un 24:00 ieskaitīt vienu reizi.) <i>Atbildi pamatot!</i></div>
    <br/>
    <table>
      <tr>
        <td>
          <div id="ytapiplayer">You need Flash player 8+ and JavaScript enabled to view this video.</div>
        </td>
        <td>
          <div class="line">
            <b>Uzdevuma saprašana</b>
          </div>
          <div class="indentedLine">
            <span>(a) 0:17</span>
            <a href="#" onclick="playerSeekTo(ytplayer,17); return false;">
              Ko uzdevumā prasīts noskaidrot.
            </a>
          </div>
          </td>
          </tr>
          </table>
          </div>
            <p>
      <b>Norādes</b>
      <a href="http://nms.lu.lv/uzdevumu-arhivs/latvijas-olimpiades/">
        Latvijas olimpiāžu uzdevumu arhīvs
      </a>
    </p>

} 